@import '../../variables.scss';

.article {
  margin-top: 24px;
  border-bottom: 1px solid rgba($color: $accent-color, $alpha: 0.2);

  &:last-child {
    margin-bottom: 24px;
  }
}

.publishedAt {
  color: $accent-color;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.heading {
  font-weight: 700;
  font-size: 16px;
  color: $primary-color;
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.description {
  color: $primary-color;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}
