@import '../../../variables.scss';

.article {
  margin-top: 24px;
  border-bottom: 1px solid rgba($color: $accent-color, $alpha: 0.2);
  padding-bottom: 12px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.heading {
  font-weight: 700;
  font-size: 16px;
  color: $primary-color;
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.description {
  color: $primary-color;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.photo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.photo__wrapper {
  height: 80px;

  @media screen and (min-width: $tablet) {
    height: 112px;
  }

  @media screen and (min-width: $desktop) {
    height: 140px;
  }
}

.articleInfo {
  display: flex;
  align-items: center;

  @media screen and (min-width: $tablet) {
    padding: 24px 0;
  }
}

.label {
  color: $neutral-color;
  background-color: $accent-color;
  font-size: 13px;
  margin-right: 6px;
  border: none;
  border-radius: 24px;
  padding: 2px 8px;
  text-decoration: none;

  &:hover {
    color: $neutral-color;
  }
}

.readingTime {
  color: $accent-color;
  font-size: 13px;
}
